@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">ASP.NET SampleCode</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<h3>取得憑證資料:</h3>
<div class="align-text-bottom">
    <p> @ViewBag.AccessToken</p>
</div>

<h3>api 資料:</h3>
<div class="align-text-bottom">
    <p> @ViewBag.ApiResponse</p>
</div>